@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.audio_title {
  color: #21d685;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  letter-spacing: 2px;
  margin-left: 450px;
  font-size: 45px;
}

.audio_text {
  color: white;
}